<div class="input-group mt-3 mb-3">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
    </button>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Link 1</a></li>
    <li><a class="dropdown-item" href="#">Link 2</a></li>
    <li><a class="dropdown-item" href="#">Link 3</a></li>
    </ul>
    <input type="text" class="form-control" placeholder="User Group">
</div>

<div class="row pt-1">
    <div class="col">
        <input type="text" class="form-control" placeholder="Username" name="username">
    </div>   
    <div class="col">
    </div>                            
</div>

<div class="row pt-1">
    <div class="col">
    <input type="text" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="col">
    <input type="text" class="form-control" placeholder="Repassword" name="repassword">
    </div>
</div>

<div class="row pt-1">
    <div class="col">
    <input type="text" class="form-control" placeholder="First name" name="fsName">
    </div>
    <div class="col">
    <input type="text" class="form-control" placeholder="Last name" name="lsName">
    </div>
</div>

<div class="row pt-1">
    <div class="col">
        <input type="text" class="form-control" placeholder="Middle name" name="mdName">
    </div>   
    <div class="col">
    </div>                            
</div>
<div class="row pt-1">                                
    <div class="col">
        <input type="text" class="form-control" placeholder="Phone number" name="phNumber">
    </div>   
    <div class="col">
    </div>                            
</div>
<div class="row pt-1">                                
    <div class="col">
        <input type="text" class="form-control" placeholder="Email" name="email">
    </div>  
    <div class="col">
    </div>                             
</div>            

<div class="row pt-1">
    <div class="col">
        <input type="text" class="form-control" placeholder="City" name="city">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Street" name="street">
    </div>
</div>

<div class="row pt-1">
    <div class="col">
        <input type="text" class="form-control" placeholder="Building" name="bldn">
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Appartment" name="apprtm">
    </div>
</div>

<div class="row pt-1">
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkWapp" name="whatsapp" value="have" checked>
            <label class="form-check-label text-white">WhatsApp</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkViber" name="viber" value="have" checked>
            <label class="form-check-label text-white">Viber</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkVK" name="vk" value="have" checked>
            <label class="form-check-label text-white">VK</label>
        </div>
    </div>
    <div class="col">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkTelegram" name="telegram" value="have" checked>
            <label class="form-check-label text-white">Telegram</label>
        </div>
    </div>
    <div class="p-1">
        <textarea class="form-control" rows="6" id="comment" name="text" placeholder="Additional information"></textarea>
    </div>                            
    
</div>