<template id="entryTemplate">
    <div class="entryBody border mt-1 ms-2 me-2">
        <div class="d-flex justify-content-end mt-2 me-1">
            <button class="btn btn-secondary p-1 me-1 pt-0" ><img src="img/edit-svg-icon-4.jpg" width = "20"></button>
            <button class="btn btn-secondary p-1 m-0 pt-0" ><img src="img/delete-1432400-1211078.webp" width="20"></button>
        </div>
        <div class="ms-2 ">
            <div class="d-flex">
                <p id="entryId" style="display: none;">Entry id</p>
                <h5 class="text-white flex-grow-1" id="entryName">Lorem ipsum dolor sit amet et delectus</h1>
                <p class="text-muted" id="entryTime">01.02.2020 17:43</p>
            </div>
            <p class="ms-1 me-2" style="font-size: smaller;" id="entryText">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem est cu. 
                Modus argumentum ne qui tation efficiendi in eos. Ei mea falli legere efficiantur et tollit aliquip debitis mei. No deserunt mediocritatem mel.
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. 
                Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an. Per facer affert ut. Mei iisque mentitum moderatius cu. 
                Sit munere facilis accusam eu dicat falli consulatu at vis. Te facilisis mnesarchum qui posse omnium mediocritatem est cu. 
                Modus argumentum ne qui tation efficiendi in eos. Ei mea falli legere efficiantur et tollit aliquip debitis mei. No.....</p>

            <p class="text-muted ms-2" style="text-decoration: underline; font-size: smaller;">Show more...</p>
            
        </div>
    </div>
</template>